@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Playfair+Display&display=swap');

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    background-color: #54455F;
    color: #FCF3EE;
    font-family: "Playfair Display", sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    cursor: default;
}


#background-image {
    background-image: url('../images/background-image.jpg');
    background-size: contain;
}

/* Hide class */

.hide {
    display: none;
}

/* Title */

.page-title {
    text-align: center;
    margin: 2rem auto;
    font-size: 4.5rem;
    font-family: "Kalam", sans-serif;
}

/* Category section */

#loader-container {
    display: flex;
}  


#loader {
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width: 15rem;
    margin: 10rem auto;
}

#category-title {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
}

#category-container {
    text-align: center;
}

#category {
    background-color: #7C3C4A;
    color: #FCF3EE;
    margin: 3rem 0;
    text-align-last: center; 
    height: 5rem;
    width: 25rem;
    border: 2px solid #7C3C4A;
    border-radius: 1rem;
}

#category:hover {
    border-color: #713643;
    background-color: #713643;
}
/* Buttons */

.button-container {
    text-align: center;
    margin: 1rem 0;
} 

.buttons {
    text-decoration: none;
    color: #FCF3EE;
    background-color: #7C3C4A;
    border-radius: 1rem;
    padding: 1rem;
}

select#category,
button#end-game, 
button#submitCategory,
button#play-again {
   border:0px;
   outline:0px;
} 
   
.buttons:hover {
    border-color: #713643;
    background-color: #713643;
}

/* Progress Bar */

#myBar {
    width: 100%;
    height: 3rem;
    border: 0.3rem solid #7C3C4A;
}

#myBarProgress {
    height: 2.4rem;
    background-color: #7C3C4A;
    width: 0%;
    text-align: center;
}

/* Questions */
 

#question {
    text-align: center;
    background-color: #7C3C4A;
    margin: 1rem 0;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
}

/* Choices */

.choices {
    background-color: #7C3C4A;
    width: 100%;
    height: 5rem;
    text-align: center;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

/* Validating answers */

.correct {
    background-color: #3b614363;
    border-color: #3b614363;
}

.incorrect {
    background-color: #671224;
    border-color: #671224;
}

#feedback-container {
    text-align: center;
}

#incorrect-answer {
    background-color: #7C3C4A;
    margin-top: 2rem;
    padding: 0 1rem;
    display: inline-block;
    }

#correct-answer {
    font-size: 4rem;
    color: #7C3C4A;
} 

/* Scores */
#score-container {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#score-text {
    background-color: #7C3C4A;
    width: 17rem;
    height: 4rem;
    line-height: 2rem;
    padding: 1rem; 
    margin: auto;
}

/* Endscreen */

#total-score {
    text-align: center;
    background-color: #7C3C4A;    
    padding: 1rem;
    line-height: 3rem;
    height: 5rem;
    margin-bottom: 5rem;
    
}

#end-message {
    text-align: center;
    background-color: #7C3C4A;
    padding: 1rem;
    line-height: 3rem;
    height: 5rem;
}

/* Media Queries */

@media (min-width: 800px) {

    body {
        font-size: 2rem;
    }

    /* Welcome Section */

    .page-title {
        font-size: 6rem;
        margin-top: 5rem;
        }

    #category {
        width: 35rem;
    }
    
    /* Game Section */

    #question {
        margin: 1rem 0;
        height: 5rem;
        font-size: 2rem;
        padding: 2rem;
    }

    .choices {
        width: 90%;
        height: 7rem;
    }

    #score-container {
        width: 18rem;
        height: 5rem;
        line-height: 3rem;
        margin-top: 2rem;
    }

    #myBar {
        margin-top: 2rem;
    }
    #myBarProgress {
        font-size: 1.5rem;
    }


    .buttons {
        margin-top: 2rem;
    }

    /* Endscreen Section */     

    #total-score {
        margin-bottom: 10rem; 
    }

    #end-message {
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
}
