@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Playfair+Display&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: #54455F;
    color: #FCF3EE;
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}


/* Title */

.page-title {
    text-align: center;
    margin-top: 5rem;
    font-size: 6rem;
    font-family: "Kalam", sans-serif;
}

/* Category section */

#category-title {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
}


#category {
    width: 40rem;
    background-color: #7C3C4A;
    color: #FCF3EE;
    display: block;
    margin: 3rem auto;

}

/* Buttons */

.buttons {
    text-align: center;
    margin-top: 2rem;
}

.buttons a, .buttons button {
    border: 1rem solid #7C3C4A;
    text-decoration: none;
    color: #FCF3EE;
    background-color: #7C3C4A;

}

/* choices */

#question {
    text-align: center;
    background-color: #7C3C4A;
    margin: 3rem 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.choices {
    border: 2px solid #7C3C4A;
    background-color: #7C3C4A;
    width: 40rem;
    height: 7rem;
    text-align: center;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    }
    

#left {
    float: left;
    margin-left: 15rem;
}

#right {
    float: right;
    margin-right: 15rem;
}

/* Validating answers */

.correct {
    background-color: #3b614363;
    border-color: #3b614363;
}

.incorrect {
    background-color: #671224;
    border-color: #671224;
}

#wrong-answer-feedback {
    text-align: center;
    padding: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }

.show {
    display: inline-block;
    background-color: #7C3C4A;
}

/* Question counter & scores */

#score-container {
    background-color: #7C3C4A;
    float: left;
    margin-left: 38rem;
    width: 17rem;
    height: 5rem;
    line-height: 3rem;
    padding: 1rem;
}

#question-container {
    background-color: #7C3C4A;
    float: right;
    margin-right: 38rem;
    width: 17rem;
    height: 5rem;
    line-height: 3rem;
    padding: 1rem;
}

.hide {
    display: none;
}

/* Endscreen */

#total-score {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    background-color: #7C3C4A;    
    padding: 1rem;
    line-height: 3rem;
    height: 5rem;
    display: inline-block;
    position: relative;
    left: 50%;
    width: 50rem;
    transform: translateX(-50%);
}

#end-message {
    text-align: center;
    margin-top: 6rem;
    background-color: #7C3C4A;
    margin-bottom: 1rem;
    padding: 1rem;
    line-height: 3rem;
    height: 5rem;
    display: inline-block;
    position: relative;
    left: 50%;
    width: 50rem;
    transform: translateX(-50%);
}

#play-again {
    margin-top: 50rem;
}